<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RHDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D0BFD8F1B9BE6F000774A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0BFDA81B9BE6F000774A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DA255601BBDB65F00A15978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
